@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Layout.cshtml";
}

<div class="container-fluid">
    <section class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body panel-summery">
                    <h3>Summery Detail</h3>
                    <p><b>Rental:</b>  1 Day</p>
                    <p><b>Car price : </b> THB10,000.00</p>
                    <p><b>charge : </b> THB10,000.00</p>
                </div>
                <div class="panel-footer panel-summery">
                    <p><b>Total :</b> THB 20,000</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2 col-md-3">
                            <img src="~/images/tmbimage.PNG" alt="image" style="height: 200px; width: 100%; display: block;">

                        </div>
                        <div class="col-xs-10 col-md-9">
                            <h4>Car name</h4>
                            <p><b>Pickup : </b> Bangkok</p>
                            <p><b>Date/time : </b> 2019/01/01 10:00 AM</p>
                            <p><b>Dropoff : </b> Bangkok</p>
                            <p><b>Date/time : </b> 2019/01/01 10:00 AM</p>
                            <div class="pull-right">
                                <button class="btn" onclick="window.history.go(-1); return false;">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Pick up map</h3>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15110.42764680224!2d98.96467905748496!3d18.77108737849219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc24d5b9da6d03aa0!2zQ2hpYyBjYXIgcmVudCDguKrguJnguLLguKHguJrguLTguJnguYDguIrguLXguKLguIfguYPguKvguKHguYg!5e0!3m2!1sen!2sth!4v1564966722485!5m2!1sen!2sth" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Extra Option</h3>
                    <div class="extra-list">
                        <div class="row">
                            <div class="col-xs-2 col-md-3">
                                <img src="~/images/tmbimage.PNG" alt="image" style="height: 100px; width: 100%; display: block;">

                            </div>
                            <div class="col-xs-10 col-md-9">
                                <h4>Extra optional name</h4>

                                <div>
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable
                                </div>
                                <div>
                                    <p></p>
                                    <div class="col-md-8 text-right"><h5>1,000.00</h5></div>
                                    <div class="col-md-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Check me out
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="extra-list">
                        <div class="row">
                            <div class="col-xs-2 col-md-3">
                                <img src="~/images/tmbimage.PNG" alt="image" style="height: 100px; width: 100%; display: block;">

                            </div>
                            <div class="col-xs-10 col-md-9">
                                <h4>Extra optional name</h4>

                                <div>
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable
                                </div>
                                <div>
                                    <p></p>
                                    <div class="col-md-8 text-right"><h5>1,000.00</h5></div>
                                    <div class="col-md-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Check me out
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="extra-list">
                        <div class="row">
                            <div class="col-xs-2 col-md-3">
                                <img src="~/images/tmbimage.PNG" alt="image" style="height: 100px; width: 100%; display: block;">

                            </div>
                            <div class="col-xs-10 col-md-9">
                                <h4>Extra optional name</h4>

                                <div>
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable
                                </div>
                                <div>
                                    <p></p>
                                    <div class="col-md-8 text-right"><h5>1,000.00</h5></div>
                                    <div class="col-md-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Check me out
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="extra-list">
                        <div class="row">
                            <div class="col-xs-2 col-md-3">
                                <img src="~/images/tmbimage.PNG" alt="image" style="height: 100px; width: 100%; display: block;">

                            </div>
                            <div class="col-xs-10 col-md-9">
                                <h4>Extra optional name</h4>

                                <div>
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable
                                </div>
                                <div>
                                    <p></p>
                                    <div class="col-md-8 text-right"><h5>1,000.00</h5></div>
                                    <div class="col-md-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Check me out
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <h3>Add more driver</h3>
                    <div>
                        <div class="col-md-4">There are many variations of passages</div>
                        <div class="col-md-8">
                            <div class="pull-right">
                                <div class="form-inline">
                                    <div class="form-group">

                                        <div class="input-group">
                                            <div class="input-group-addon">-</div>
                                            <input type="text" class="form-control text-center" id="exampleInputAmount" placeholder="1">
                                            <div class="input-group-addon">+</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="col-md-3">
           
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Insurence Option</h3>
                    <div>
                        <div class="col-md-8">
                            <p> -  Traveljigsaw Insurance Limited </p>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-8">
                            <p> -  Traveljigsaw Insurance Limited </p>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-8">
                            <p> -  Traveljigsaw Insurance Limited </p>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="col-md-12">
            <div class="col-md-offset-8 col-md-4">
                <div class="pull-right">
                    <button class="btn btn-lg">< back</button>
                    <button class="btn btn-lg">Next ></button>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
        <p></p>

    </section>
</div>