@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
}

<div class="container-fluid">
    <section class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body panel-summery">
                    <h3>Summery Detail</h3>
                    <p><b>Rental:</b>  1 Day</p>
                    <p><b>Car price : </b> THB10,000.00</p>
                    <p><b>Charge : </b> THB10,000.00</p>
                    <p><b>Extra price : </b> THB1,000.00</p>
                </div>
                <div class="panel-footer panel-summery">
                    <p><b>Total :</b> THB 20,000</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-2 col-md-3">
                            <img src="~/images/tmbimage.PNG" alt="image" style="height: 200px; width: 100%; display: block;">

                        </div>
                        <div class="col-xs-10 col-md-9">
                            <h4>Car name</h4>
                            <p><b>Pickup : </b> Bangkok</p>
                            <p><b>Date/time : </b> 2019/01/01 10:00 AM</p>
                            <p><b>Dropoff : </b> Bangkok</p>
                            <p><b>Date/time : </b> 2019/01/01 10:00 AM</p>
                            <div class="pull-right">
                                <button class="btn">< back</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <h5>Extra option</h5>
                    <div>
                        <ul>
                            <li>Appointed Representative</li>
                            <li>Appointed Representative</li>
                            <li>Appointed Representative</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Driver 1</h3>
                    <div class="row">
                        <form>
                            <div class="driver">
                                <div class="form-group col-md-12">
                                    <label>Driver Title</label><br />
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
                                    </label>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Name</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Last Name</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Phone number</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">license number</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Email</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked> different pickup car
                                    </label>
                                </div>
                            </div>
                            <div class="driver">
                                <div class="form-group col-md-12">
                                    <label>Pickup Title</label><br />
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
                                    </label>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Name</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Last Name</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Phone number</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">license number</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Email</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
                <div class="panel-body">
                    <h3>Driver 2</h3>
                    <div class="row">
                        <form>
                            <div class="driver">
                                <div class="form-group col-md-12">
                                    <label>Driver Title</label><br />
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
                                    </label>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Name</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Last Name</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Phone number</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">license number</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="exampleInputEmail1">Email</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Flight no.</h3>
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Flight number for track you arrive</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            <div class="form-group col-md-3 col-md-offset-2">
                    <button class="btn btn-lg">Paynow save 30%</button>
            </div>
            <div class="form-group col-md-3 col-md-offset-2">
                <button class="btn btn-lg">Paynow later</button>
            </div>
        </div>
    </section>
</div>