@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Layout>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>layout</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="~/css/custom-style.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">

                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img src="~/images/logo_eng.png">
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/layout/1">Layout 1</a></li>
                        <li><a href="/layout/2">Layout 2</a></li>
                        <li><a href="/layout/3">Layout 3</a></li>
                        <li><a href="/layout/4">Layout 4</a></li>
                        <li><a href="/layout/5">Layout 5</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav-link navi-link--active " href="/">
                            <i class="glyphicon glyphicon-earphone yellow-organge" aria-hidden="true">
                                </i> 02-286-6799</a>
                        </li>
                      
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>

    <footer>
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Site map</h3>
                <div class="col-md-3">
                    <p>There are many variations of passages</p>
                    <p>There are many variations of passages</p>
                    <p>There are many variations of passages</p>
                    <p>There are many variations of passages</p>
                </div>
                <div class="col-md-3">
                    <p>There are many variations of passages</p>
                    <p>There are many variations of passages</p>
                    <p>There are many variations of passages</p>
                    <p>There are many variations of passages</p>

                </div>
                <div class="col-md-3">
                    <p>There are many variations of passages</p>
                    <p>There are many variations of passages</p>
                    <p>There are many variations of passages</p>
                    <p>There are many variations of passages</p>
                    <p>There are many variations of passages</p>

                </div>
                <div class="col-md-3">
                    <p>There are many variations of passages</p>
                    <p>There are many variations of passages</p>
                    <p>There are many variations of passages</p>
                    <p>There are many variations of passages</p>

                </div>
            </div>
        </div>
        <div class="container">
            <h3>Footer</h3>
            <p>
                the world leader in online travel & related services. Traveljigsaw Limited (FCA Firm Reference No 777648) is an Appointed Representative of Cover Genius Limited, which is authorised and registered by the Financial Conduct Authority, Firm Reference No 750711.
                Traveljigsaw Insurance Limited is incorporated in Malta and is authorised by the Malta Financial Services Authority to carry on the business of insurance in terms of the Insurance Business Act 1998. Company Registration Number: C82173 Registered Office, Development House, St Anne Street, Floriana, FRN 9010, Malta.
            </p>
               <p></p>
        </div>
</footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>