@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@
<div class="container breadcrub">
    <div>
        <p></p>
    </div>
    <div class="clearfix"></div>
    <div class="brlines"></div>
</div>
<div class="container">
    <div class="container mt25 offset-0">
        <div class="col-md-12">
            <p>@Html.Raw(ViewBag.text)</p>
        </div>
    </div>
</div>
            
