<div ng-controller="branches.car.controller">

    

    <form name="contentForm"
          ng-submit="save()"
          novalidate
          val-form-manager>

        <umb-editor-view>

            <umb-load-indicator ng-show="loading"></umb-load-indicator>

            <umb-editor-header name="items[0].Branch_Name"
                               name-locked="true"
                               hide-icon="true"
                               hide-description="true"
                               hide-alias="true">
            </umb-editor-header>

            <umb-editor-container class="form-horizontal">

                <table class="table table-striped" cellspacing="0" cellpadding="5">
                    <thead>
                        <tr>
                            <th class="firstCol"><a ng-click="data.sortBy('A_ID')">#</a></th>
                            <th class="big-col"><a ng-click="data.sortBy('name')">Name</a></th>
                            <th><a ng-click="data.sortBy('Quantity')">Quantity</a></th>
                            <th><a ng-click="data.sortBy('Aviable')">Aviable Now</a></th>
                            <th><a ng-click="data.sortBy('Status')">Status</a></th>
                            <th class="small-col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items">
                            <td>{{ item.A_ID }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.Quantity }}</td>
                            <td>{{ item.Aviable }}</td>
                            <td>
                                <i class="icon-check color-green medium" ng-if="item.Status == 'A'"></i>
                                <i class="icon-wrong color-red medium" ng-if="item.Status == 'U'"></i>
                            </td>
                            <td>
                                <a class="btn" ng-click="openEditDialog(item)">Edit</a>
                                <a class="btn" ng-href="#/branches/branches/car-price/{{item.A_ID}}">Price</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </umb-editor-container>

            <umb-editor-footer>

                <umb-editor-footer-content-right>
                    <a class="btn btn-adn" ng-click="fristload()">Refresh</a>
                    <button class="btn btn-success" type="button" ng-click="openEditDialog(addnew)">Add new</button>
                </umb-editor-footer-content-right>

            </umb-editor-footer>

        </umb-editor-view>

    </form>

    
</div>
