<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ChicCarrental_Models.Properties.Settings.ChicRentalDBConnectionString"
            connectionString="Data Source=103.13.31.240;Initial Catalog=ChicRentalDB;User ID=chic"
            providerName="System.Data.SqlClient" />
        <add name="ChicCarrental_Models.Properties.Settings.ChicRentalDBConnectionString1"
            connectionString="Data Source=203.151.210.116;Initial Catalog=ChicRentalDB;User ID=chic"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>